@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{  
    width: 100%;
    height: 100vh;
    overflow-x: hidden;;
    color: black;
    cursor: none;
}

body.dark-mode{
    color: white;
}

.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: black;
}

.cursor-outline {
    width: 30px; 
    height: 30px;
    border: 2px solid hsla(0, 0%, 0%, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none; 
    z-index: 1; 
}

body.dark-mode .cursor-dot {
    background-color: white; 
}

body.dark-mode .cursor-outline {
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot,
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: center;
    align-items:  center;
    z-index: 1;
}

nav a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
    cursor: none;
}

nav a:hover,
nav a.active{
    color: black;
    border-bottom: 3px solid black;
}

body.dark-mode nav a{
    color: white;
}

body.dark-mode nav a:hover,
body.dark-mode nav a.active {
    color: white;
    border-bottom: 3px solid white;
}

@media(max-width:995px){
    nav{
        position: absolute;
        top: 100%;
        justify-content: center;
        border-bottom-left-radius: 2rem;
    }

    nav.active{
        display: block;
    }
    
    nav a{
        font-size: 1.5rem;
        margin: 3rem 0;
    }
    
    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-bottom: 0.5rem solid black;
    }
}


section{
    min-width: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    position: relative;
    left: 1150px;
    top: 300px;
}

.home h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    margin-left: -2px;
}

span{
    color: black;
}

body.dark-mode span{
    color: white;
}

.home h3{
    font-size: 4rem;
    font-weight: 700;
}

.text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 45%; /* Adjust this to your preference */
}

.home-vid video{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1; 
}

#dark {
    display: none;
}
  
body.dark-mode #light {
    display: none; 
}
  
body.dark-mode #dark {
    display: block; 
}
 
@media (min-aspect-ratio: 16/9) {
    .home-vid video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .home-vid video{
        width: auto;
        height: 100;
    }
}

.socialmedia a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    color: black;
    border: 0.2rem solid black;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3 ease;
    cursor: none;
}

body.dark-mode .socialmedia a {
    color: white;
    border: 2px solid white;
}

.socialmedia a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: transparent;
    box-shadow: 0 0 25px black;
}

body.dark-mode .socialmedia a:hover {
    color: white;
    box-shadow: 0 0 25px white;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 600;
    border: 2px solid black;
    transition: 0.3ease;
    cursor: none;
}

body.dark-mode .btn {
    color: black;
    border: 2px solid white;
    background-color: white;
}

.btn:hover{
    transform: scale3d(1.03);
    box-shadow: 0 0 25px black;
}

body.dark-mode .btn:hover {
    transform: scale3d(1.03);
    color: black;
    box-shadow: 0 0 25px white;
}

.typewriter {
    font-size: 34px;
    font-weight: 600;
    white-space: nowrap;
    position: relative;
}

.typewriter span {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.typewriter span::after {
    content: '|';
    position: absolute;
    right: -10px;
    animation: blink 0.6s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.theme-checkbox {
    --toggle-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: linear-gradient(to right, #2a2a2a 50%, #efefef 50%) no-repeat 100% 0 / 205%;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    font-size: var(--toggle-size);
    cursor: none;
    margin-left: 40px;
    top: 7.5px;
}

.theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: calc(100% - 2.25em - 0.438em); 
    background: linear-gradient(to right, #2a2a2a 50%, #efefef 50%) no-repeat 0 0 / 205%;
    border-radius: 50%;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: 0.438em; 
    background-position: 100%;
}

.theme-checkbox:checked {
    background-position: 0;
}



