@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{  
    width: 100%;
    height: 100vh;
    overflow-x: hidden;;
    color: black;
    cursor: none;
}

body.dark-mode{
    color: white;
}

.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: black;
}

.cursor-outline {
    width: 30px; 
    height: 30px;
    border: 2px solid hsla(0, 0%, 0%, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none; 
    z-index: 1; 
}

body.dark-mode .cursor-dot {
    background-color: white; 
}

body.dark-mode .cursor-outline {
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot,
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: center;
    align-items:  center;
    z-index: 1;
}

nav a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
    cursor: none;
}

nav a:hover,
nav a.active{
    color: black;
    border-bottom: 3px solid black;
}

body.dark-mode nav a{
    color: white;
}

body.dark-mode nav a:hover,
body.dark-mode nav a.active {
    color: white;
    border-bottom: 3px solid white;
}

@media(max-width:995px){
    nav{
        position: absolute;
        top: 100%;
        justify-content: center;
    }

    nav.active{
        display: block;
    }
    
    nav a{
        font-size: 1.5rem;
        margin: 3rem 0;
    }
    
    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-bottom: 0.5rem solid black;
    }
}

.home-vid video{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1; 
}

#dark {
    display: none;
}
  
body.dark-mode #light {
    display: none; 
}
  
body.dark-mode #dark {
    display: block; 
}
 
@media (min-aspect-ratio: 16/9) {
    .home-vid video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .home-vid video{
        width: auto;
        height: 100;
    }
}

.hover-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    position: relative;
    top: 250px;
    left: 400px;
}
  
  .text-box {
    margin: 20px 0;
  }
  
  .text-box p {
    font-size: 18px;
    color: black;
    cursor: none;
    margin: 20px 0;
    padding: 2.5em 1em;
    border-bottom: 1px solid black;
  }

  body.dark-mode  .text-box p {
    font-size: 18px;
    color: white;
    cursor: none;
    margin: 20px 0;
    border-bottom: 1px solid white;
  }
  
  .follow-image {
    position: fixed;
    width: 300px;
    height: 600px;
    object-fit: cover;
    display: none;
    pointer-events: none;
    z-index: 10;
}

@media (max-width: 1600px) {
    body {
      justify-content: flex-start;
      height: auto; 
    }
  
    .hover-container {
      max-width: 100%;
      height: auto; 
      overflow-y: visible; 
      left: 200px;
    }
  
    .text-box p {
      font-size: 16px; 
    }
  
    .follow-image {
      width: 80px;
      height: 80px;
    }
  }

  @media (max-width: 995px) {
    body {
      justify-content: flex-start;
      height: auto; 
    }
  
    .hover-container {
      max-width: 100%;
      height: auto; 
      overflow-y: visible; 
      left: 100px;
    }
  
    .text-box p {
      font-size: 16px; 
    }
  
    .follow-image {
      width: 80px;
      height: 80px;
    }
  }
  
  @media (max-width: 480px) {
    .text-box p {
      font-size: 14px; 
      margin: 15px 0; 
    }
  
    .follow-image {
      width: 60px; 
      height: 60px;
    }
  }

.theme-checkbox {
    --toggle-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: linear-gradient(to right, #2a2a2a 50%, #efefef 50%) no-repeat 100% 0 / 205%;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    font-size: var(--toggle-size);
    cursor: none;
    margin-left: 40px;
    top: 7.5px;
}

.theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: calc(100% - 2.25em - 0.438em); 
    background: linear-gradient(to right, #2a2a2a 50%, #efefef 50%) no-repeat 0 0 / 205%;
    border-radius: 50%;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: 0.438em; 
    background-position: 100%;
}

.theme-checkbox:checked {
    background-position: 0;
}



