*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Experience

#experience {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    #experience-canvas{
        height: 100%;
        width: 100%;
    }
}

// Modals
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    z-index: 999;
    display: none;
    background-color: black;
}
  
  .loading-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: .085em;
    margin: 4.5rem 0 1rem;
  }

  .loading-title {
    font-family: 'Fjalla One';
  }
  
  .loading {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 10px;
    left: 0;
    background: #41576B;
    transition: .75s;
  }
  
  .loading-title {
    color: #D0D2D2;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .loading-progress {
    height: 11px;
    background: #41576B;
    top: -11px;
    bottom: 0;
    width: 100%;
    position: absolute;
    transition: .35s;
  }
  